In [1]:
import pandas as pd 
import numpy as np

In [24]:
df=pd.read_csv("..\\data\\data.csv")

In [25]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [39]:
df.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [44]:
df.loc[1]

Country      Spain
Age             27
Salary       48000
Purchased      Yes
Name: 1, dtype: object

In [32]:
df1 = pd.DataFrame(np.random.randn(6, 4),

In [61]:
df1['E']=list('jklmno')

In [59]:
df1.drop(['E'],axis=1,inplace=True)

In [62]:
df1.loc[:,df1.loc['a']>.5]

TypeError: '>' not supported between instances of 'str' and 'float'

In [29]:
df.loc['Age']

KeyError: 'Age'