In [1]:
import pandas as pd
import numpy as np

In [2]:
import sklearn

In [3]:
df_org=pd.read_csv('train.csv')

In [4]:
df_test=pd.read_csv('test.csv')

In [5]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [6]:
df=df_org.copy()

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
imp={}

In [10]:
SI=SimpleImputer(add_indicator=True)

In [11]:
cols=['Age']

In [12]:
for col in cols:
    co=[]
    SI.fit(df[[col]])
    data=SI.transform(df[[col]])
    #print(data)
    co.append(f'{col}')
    co.append(f'{col}_ind')
    df1=pd.DataFrame(data,columns=co)
    #print(df1)
    df.drop(col,axis=1,inplace=True)
    df=pd.concat([df,df1],axis=1)

In [13]:
df

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age,Age_ind
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S,22.000000,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,38.000000,0.0
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S,26.000000,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,35.000000,0.0
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S,35.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,NaN,S,27.000000,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,B42,S,19.000000,0.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,NaN,S,29.699118,1.0
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C148,C,26.000000,0.0
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,NaN,Q,32.000000,0.0

In [14]:
#SI.fit(df[["Age"]])

In [15]:
#df1=SI.transform(df[['Age']])

In [16]:
#df1_1=pd.DataFrame(df1,columns=['Age','Age_ind'])

In [17]:
#df.drop('Age',axis=1,inplace=True)

In [18]:
#pd.concat([df,df1_1],axis=1)

In [19]:
#SI.indicator_

In [20]:
from sklearn.impute import SimpleImputer
def numeric_imputaion(df,col_num,col_cat,dict_values=None):
    
    dict_value={}
    co=[]
    
    if dict_values == None :
        print("inside")
        if col_num == None:
            cols=list(df.columns)
        for col in col_num:
            co.clear()
            SI=SimpleImputer()
            
            print("inside for")
            SI.fit(df[[col]])
            data=SI.transform(df[[col]])
            print("below transform")
            dict_value[col]=SI.statistics_[0]
            print("below dict")
            co.append(f'{col}')
            #co.append(f'{col}_ind')
            print('below co append')
            print(data)
            df1=pd.DataFrame(data,columns=co)
            print('df1')
            #df.drop(col,axis=1,inplace=True)
            #df.reset_index(drop=True, inplace=True)
            #df1.reset_index(drop=True, inplace=True)
            df.drop(col,axis=1,inplace=True)
            df=pd.concat([df,df1],axis=1)
            #data=np.delete(data)
            
        for col in col_cat:
            co=[]
            SI=SimpleImputer(strategy='most_frequent')
            SI.fit(df[[col]])
            data=SI.transform(df[[col]])
            dict_value[col]=SI.statistics_[0]
            co.append(f'{col}')
            #co.append(f'{col}_ind')
            df1=pd.DataFrame(data,columns=co)
            df.drop(col,axis=1,inplace=True)
            df=pd.concat([df,df1],axis=1)
                                 
    else:
        print("inside else")
        df.fillna(dict_values,axis=1,inplace=True)
            
            
    return (df,dict_value)

In [21]:
cols=['Age','Fare']
cols_cat=['Cabin','Embarked']

In [22]:
#import pdb

In [23]:
#pdb.run()

In [24]:
df

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age,Age_ind
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S,22.000000,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,38.000000,0.0
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S,26.000000,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,35.000000,0.0
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S,35.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,NaN,S,27.000000,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,B42,S,19.000000,0.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,NaN,S,29.699118,1.0
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C148,C,26.000000,0.0
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,NaN,Q,32.000000,0.0

In [25]:
df=df_org.copy()

In [26]:
df,dl=numeric_imputaion(df,cols,cols_cat)

inside
inside for
below transform
below dict
below co append
[[22.        ]
 [38.        ]
 [26.        ]
 [35.        ]
 [35.        ]
 [29.69911765]
 [54.        ]
 [ 2.        ]
 [27.        ]
 [14.        ]
 [ 4.        ]
 [58.        ]
 [20.        ]
 [39.        ]
 [14.        ]
 [55.        ]
 [ 2.        ]
 [29.69911765]
 [31.        ]
 [29.69911765]
 [35.        ]
 [34.        ]
 [15.        ]
 [28.        ]
 [ 8.        ]
 [38.        ]
 [29.69911765]
 [19.        ]
 [29.69911765]
 [29.69911765]
 [40.        ]
 [29.69911765]
 [29.69911765]
 [66.        ]
 [28.        ]
 [42.        ]
 [29.69911765]
 [21.        ]
 [18.        ]
 [14.        ]
 [40.        ]
 [27.        ]
 [29.69911765]
 [ 3.        ]
 [19.        ]
 [29.69911765]
 [29.69911765]
 [29.69911765]
 [29.69911765]
 [18.        ]
 [ 7.        ]
 [21.        ]
 [49.        ]
 [29.        ]
 [65.        ]
 [29.69911765]
 [21.        ]
 [28.5       ]
 [ 5.        ]
 [11.        ]
 [22.        ]
 [38.        ]
 [45.        ]
 [ 4.        ]
 [29.69911765]
 [29.69911765]
 [29.        ]
 [19.        ]
 [17.        ]
 [26.        ]
 [32.        ]
 [16.        ]
 [21.        ]
 [26.        ]
 [32.        ]
 [25.        ]
 [29.69911765]
 [29.69911765]
 [ 0.83      ]
 [30.        ]
 [22.        ]
 [29.        ]
 [29.69911765]
 [28.        ]
 [17.        ]
 [33.        ]
 [16.        ]
 [29.69911765]
 [23.        ]
 [24.        ]
 [29.        ]
 [20.        ]
 [46.        ]
 [26.        ]
 [59.        ]
 [29.69911765]
 [71.        ]
 [23.        ]
 [34.        ]
 [34.        ]
 [28.        ]
 [29.69911765]
 [21.        ]
 [33.        ]
 [37.        ]
 [28.        ]
 [21.        ]
 [29.69911765]
 [38.        ]
 [29.69911765]
 [47.        ]
 [14.5       ]
 [22.        ]
 [20.        ]
 [17.        ]
 [21.        ]
 [70.5       ]
 [29.        ]
 [24.        ]
 [ 2.        ]
 [21.        ]
 [29.69911765]
 [32.5       ]
 [32.5       ]
 [54.        ]
 [12.        ]
 [29.69911765]
 [24.        ]
 [29.69911765]
 [45.        ]
 [33.        ]
 [20.        ]
 [47.        ]
 [29.        ]
 [25.        ]
 [23.        ]
 [19.        ]
 [37.        ]
 [16.        ]
 [24.        ]
 [29.69911765]
 [22.        ]
 [24.        ]
 [19.        ]
 [18.        ]
 [19.        ]
 [27.        ]
 [ 9.        ]
 [36.5       ]
 [42.        ]
 [51.        ]
 [22.        ]
 [55.5       ]
 [40.5       ]
 [29.69911765]
 [51.        ]
 [16.        ]
 [30.        ]
 [29.69911765]
 [29.69911765]
 [44.        ]
 [40.        ]
 [26.        ]
 [17.        ]
 [ 1.        ]
 [ 9.        ]
 [29.69911765]
 [45.        ]
 [29.69911765]
 [28.        ]
 [61.        ]
 [ 4.        ]
 [ 1.        ]
 [21.        ]
 [56.        ]
 [18.        ]
 [29.69911765]
 [50.        ]
 [30.        ]
 [36.        ]
 [29.69911765]
 [29.69911765]
 [ 9.        ]
 [ 1.        ]
 [ 4.        ]
 [29.69911765]
 [29.69911765]
 [45.        ]
 [40.        ]
 [36.        ]
 [32.        ]
 [19.        ]
 [19.        ]
 [ 3.        ]
 [44.        ]
 [58.        ]
 [29.69911765]
 [42.        ]
 [29.69911765]
 [24.        ]
 [28.        ]
 [29.69911765]
 [34.        ]
 [45.5       ]
 [18.        ]
 [ 2.        ]
 [32.        ]
 [26.        ]
 [16.        ]
 [40.        ]
 [24.        ]
 [35.        ]
 [22.        ]
 [30.        ]
 [29.69911765]
 [31.        ]
 [27.        ]
 [42.        ]
 [32.        ]
 [30.        ]
 [16.        ]
 [27.        ]
 [51.        ]
 [29.69911765]
 [38.        ]
 [22.        ]
 [19.        ]
 [20.5       ]
 [18.        ]
 [29.69911765]
 [35.        ]
 [29.        ]
 [59.        ]
 [ 5.        ]
 [24.        ]
 [29.69911765]
 [44.        ]
 [ 8.        ]
 [19.        ]
 [33.        ]
 [29.69911765]
 [29.69911765]
 [29.        ]
 [22.        ]
 [30.        ]
 [44.        ]
 [25.        ]
 [24.        ]
 [37.        ]
 [54.        ]
 [29.69911765]
 [29.        ]
 [62.        ]
 [30.        ]
 [41.        ]
 [29.        ]
 [29.69911765]
 [30.        ]
 [35.        ]
 [50.        ]
 [29.69911765]
 [ 3.        ]
 [52.        ]
 [40.        ]
 [29.69911765]
 [36.        ]
 [16.        ]
 [25.        ]
 [58.        ]
 [35.        ]
 [29.69911765]
 [25.        ]
 [41.        ]
 [37.        ]
 [29.69911765]
 [63.        ]
 [45.        ]
 [29.69911765]
 [ 7.        ]
 [35.        ]
 [65.        ]
 [28.        ]
 [16.        ]
 [19.        ]
 [29.69911765]
 [33.        ]
 [30.        ]
 [22.        ]
 [42.        ]
 [22.        ]
 [26.        ]
 [19.        ]
 [36.        ]
 [24.        ]
 [24.        ]
 [29.69911765]
 [23.5       ]
 [ 2.        ]
 [29.69911765]
 [50.        ]
 [29.69911765]
 [29.69911765]
 [19.        ]
 [29.69911765]
 [29.69911765]
 [ 0.92      ]
 [29.69911765]
 [17.        ]
 [30.        ]
 [30.        ]
 [24.        ]
 [18.        ]
 [26.        ]
 [28.        ]
 [43.        ]
 [26.        ]
 [24.        ]
 [54.        ]
 [31.        ]
 [40.        ]
 [22.        ]
 [27.        ]
 [30.        ]
 [22.        ]
 [29.69911765]
 [36.        ]
 [61.        ]
 [36.        ]
 [31.        ]
 [16.        ]
 [29.69911765]
 [45.5       ]
 [38.        ]
 [16.        ]
 [29.69911765]
 [29.69911765]
 [29.        ]
 [41.        ]
 [45.        ]
 [45.        ]
 [ 2.        ]
 [24.        ]
 [28.        ]
 [25.        ]
 [36.        ]
 [24.        ]
 [40.        ]
 [29.69911765]
 [ 3.        ]
 [42.        ]
 [23.        ]
 [29.69911765]
 [15.        ]
 [25.        ]
 [29.69911765]
 [28.        ]
 [22.        ]
 [38.        ]
 [29.69911765]
 [29.69911765]
 [40.        ]
 [29.        ]
 [45.        ]
 [35.        ]
 [29.69911765]
 [30.        ]
 [60.        ]
 [29.69911765]
 [29.69911765]
 [24.        ]
 [25.        ]
 [18.        ]
 [19.        ]
 [22.        ]
 [ 3.        ]
 [29.69911765]
 [22.        ]
 [27.        ]
 [20.        ]
 [19.        ]
 [42.        ]
 [ 1.        ]
 [32.        ]
 [35.        ]
 [29.69911765]
 [18.        ]
 [ 1.        ]
 [36.        ]
 [29.69911765]
 [17.        ]
 [36.        ]
 [21.        ]
 [28.        ]
 [23.        ]
 [24.        ]
 [22.        ]
 [31.        ]
 [46.        ]
 [23.        ]
 [28.        ]
 [39.        ]
 [26.        ]
 [21.        ]
 [28.        ]
 [20.        ]
 [34.        ]
 [51.        ]
 [ 3.        ]
 [21.        ]
 [29.69911765]
 [29.69911765]
 [29.69911765]
 [33.        ]
 [29.69911765]
 [44.        ]
 [29.69911765]
 [34.        ]
 [18.        ]
 [30.        ]
 [10.        ]
 [29.69911765]
 [21.        ]
 [29.        ]
 [28.        ]
 [18.        ]
 [29.69911765]
 [28.        ]
 [19.        ]
 [29.69911765]
 [32.        ]
 [28.        ]
 [29.69911765]
 [42.        ]
 [17.        ]
 [50.        ]
 [14.        ]
 [21.        ]
 [24.        ]
 [64.        ]
 [31.        ]
 [45.        ]
 [20.        ]
 [25.        ]
 [28.        ]
 [29.69911765]
 [ 4.        ]
 [13.        ]
 [34.        ]
 [ 5.        ]
 [52.        ]
 [36.        ]
 [29.69911765]
 [30.        ]
 [49.        ]
 [29.69911765]
 [29.        ]
 [65.        ]
 [29.69911765]
 [50.        ]
 [29.69911765]
 [48.        ]
 [34.        ]
 [47.        ]
 [48.        ]
 [29.69911765]
 [38.        ]
 [29.69911765]
 [56.        ]
 [29.69911765]
 [ 0.75      ]
 [29.69911765]
 [38.        ]
 [33.        ]
 [23.        ]
 [22.        ]
 [29.69911765]
 [34.        ]
 [29.        ]
 [22.        ]
 [ 2.        ]
 [ 9.        ]
 [29.69911765]
 [50.        ]
 [63.        ]
 [25.        ]
 [29.69911765]
 [35.        ]
 [58.        ]
 [30.        ]
 [ 9.        ]
 [29.69911765]
 [21.        ]
 [55.        ]
 [71.        ]
 [21.        ]
 [29.69911765]
 [54.        ]
 [29.69911765]
 [25.        ]
 [24.        ]
 [17.        ]
 [21.        ]
 [29.69911765]
 [37.        ]
 [16.        ]
 [18.        ]
 [33.        ]
 [29.69911765]
 [28.        ]
 [26.        ]
 [29.        ]
 [29.69911765]
 [36.        ]
 [54.        ]
 [24.        ]
 [47.        ]
 [34.        ]
 [29.69911765]
 [36.        ]
 [32.        ]
 [30.        ]
 [22.        ]
 [29.69911765]
 [44.        ]
 [29.69911765]
 [40.5       ]
 [50.        ]
 [29.69911765]
 [39.        ]
 [23.        ]
 [ 2.        ]
 [29.69911765]
 [17.        ]
 [29.69911765]
 [30.        ]
 [ 7.        ]
 [45.        ]
 [30.        ]
 [29.69911765]
 [22.        ]
 [36.        ]
 [ 9.        ]
 [11.        ]
 [32.        ]
 [50.        ]
 [64.        ]
 [19.        ]
 [29.69911765]
 [33.        ]
 [ 8.        ]
 [17.        ]
 [27.        ]
 [29.69911765]
 [22.        ]
 [22.        ]
 [62.        ]
 [48.        ]
 [29.69911765]
 [39.        ]
 [36.        ]
 [29.69911765]
 [40.        ]
 [28.        ]
 [29.69911765]
 [29.69911765]
 [24.        ]
 [19.        ]
 [29.        ]
 [29.69911765]
 [32.        ]
 [62.        ]
 [53.        ]
 [36.        ]
 [29.69911765]
 [16.        ]
 [19.        ]
 [34.        ]
 [39.        ]
 [29.69911765]
 [32.        ]
 [25.        ]
 [39.        ]
 [54.        ]
 [36.        ]
 [29.69911765]
 [18.        ]
 [47.        ]
 [60.        ]
 [22.        ]
 [29.69911765]
 [35.        ]
 [52.        ]
 [47.        ]
 [29.69911765]
 [37.        ]
 [36.        ]
 [29.69911765]
 [49.        ]
 [29.69911765]
 [49.        ]
 [24.        ]
 [29.69911765]
 [29.69911765]
 [44.        ]
 [35.        ]
 [36.        ]
 [30.        ]
 [27.        ]
 [22.        ]
 [40.        ]
 [39.        ]
 [29.69911765]
 [29.69911765]
 [29.69911765]
 [35.        ]
 [24.        ]
 [34.        ]
 [26.        ]
 [ 4.        ]
 [26.        ]
 [27.        ]
 [42.        ]
 [20.        ]
 [21.        ]
 [21.        ]
 [61.        ]
 [57.        ]
 [21.        ]
 [26.        ]
 [29.69911765]
 [80.        ]
 [51.        ]
 [32.        ]
 [29.69911765]
 [ 9.        ]
 [28.        ]
 [32.        ]
 [31.        ]
 [41.        ]
 [29.69911765]
 [20.        ]
 [24.        ]
 [ 2.        ]
 [29.69911765]
 [ 0.75      ]
 [48.        ]
 [19.        ]
 [56.        ]
 [29.69911765]
 [23.        ]
 [29.69911765]
 [18.        ]
 [21.        ]
 [29.69911765]
 [18.        ]
 [24.        ]
 [29.69911765]
 [32.        ]
 [23.        ]
 [58.        ]
 [50.        ]
 [40.        ]
 [47.        ]
 [36.        ]
 [20.        ]
 [32.        ]
 [25.        ]
 [29.69911765]
 [43.        ]
 [29.69911765]
 [40.        ]
 [31.        ]
 [70.        ]
 [31.        ]
 [29.69911765]
 [18.        ]
 [24.5       ]
 [18.        ]
 [43.        ]
 [36.        ]
 [29.69911765]
 [27.        ]
 [20.        ]
 [14.        ]
 [60.        ]
 [25.        ]
 [14.        ]
 [19.        ]
 [18.        ]
 [15.        ]
 [31.        ]
 [ 4.        ]
 [29.69911765]
 [25.        ]
 [60.        ]
 [52.        ]
 [44.        ]
 [29.69911765]
 [49.        ]
 [42.        ]
 [18.        ]
 [35.        ]
 [18.        ]
 [25.        ]
 [26.        ]
 [39.        ]
 [45.        ]
 [42.        ]
 [22.        ]
 [29.69911765]
 [24.        ]
 [29.69911765]
 [48.        ]
 [29.        ]
 [52.        ]
 [19.        ]
 [38.        ]
 [27.        ]
 [29.69911765]
 [33.        ]
 [ 6.        ]
 [17.        ]
 [34.        ]
 [50.        ]
 [27.        ]
 [20.        ]
 [30.        ]
 [29.69911765]
 [25.        ]
 [25.        ]
 [29.        ]
 [11.        ]
 [29.69911765]
 [23.        ]
 [23.        ]
 [28.5       ]
 [48.        ]
 [35.        ]
 [29.69911765]
 [29.69911765]
 [29.69911765]
 [36.        ]
 [21.        ]
 [24.        ]
 [31.        ]
 [70.        ]
 [16.        ]
 [30.        ]
 [19.        ]
 [31.        ]
 [ 4.        ]
 [ 6.        ]
 [33.        ]
 [23.        ]
 [48.        ]
 [ 0.67      ]
 [28.        ]
 [18.        ]
 [34.        ]
 [33.        ]
 [29.69911765]
 [41.        ]
 [20.        ]
 [36.        ]
 [16.        ]
 [51.        ]
 [29.69911765]
 [30.5       ]
 [29.69911765]
 [32.        ]
 [24.        ]
 [48.        ]
 [57.        ]
 [29.69911765]
 [54.        ]
 [18.        ]
 [29.69911765]
 [ 5.        ]
 [29.69911765]
 [43.        ]
 [13.        ]
 [17.        ]
 [29.        ]
 [29.69911765]
 [25.        ]
 [25.        ]
 [18.        ]
 [ 8.        ]
 [ 1.        ]
 [46.        ]
 [29.69911765]
 [16.        ]
 [29.69911765]
 [29.69911765]
 [25.        ]
 [39.        ]
 [49.        ]
 [31.        ]
 [30.        ]
 [30.        ]
 [34.        ]
 [31.        ]
 [11.        ]
 [ 0.42      ]
 [27.        ]
 [31.        ]
 [39.        ]
 [18.        ]
 [39.        ]
 [33.        ]
 [26.        ]
 [39.        ]
 [35.        ]
 [ 6.        ]
 [30.5       ]
 [29.69911765]
 [23.        ]
 [31.        ]
 [43.        ]
 [10.        ]
 [52.        ]
 [27.        ]
 [38.        ]
 [27.        ]
 [ 2.        ]
 [29.69911765]
 [29.69911765]
 [ 1.        ]
 [29.69911765]
 [62.        ]
 [15.        ]
 [ 0.83      ]
 [29.69911765]
 [23.        ]
 [18.        ]
 [39.        ]
 [21.        ]
 [29.69911765]
 [32.        ]
 [29.69911765]
 [20.        ]
 [16.        ]
 [30.        ]
 [34.5       ]
 [17.        ]
 [42.        ]
 [29.69911765]
 [35.        ]
 [28.        ]
 [29.69911765]
 [ 4.        ]
 [74.        ]
 [ 9.        ]
 [16.        ]
 [44.        ]
 [18.        ]
 [45.        ]
 [51.        ]
 [24.        ]
 [29.69911765]
 [41.        ]
 [21.        ]
 [48.        ]
 [29.69911765]
 [24.        ]
 [42.        ]
 [27.        ]
 [31.        ]
 [29.69911765]
 [ 4.        ]
 [26.        ]
 [47.        ]
 [33.        ]
 [47.        ]
 [28.        ]
 [15.        ]
 [20.        ]
 [19.        ]
 [29.69911765]
 [56.        ]
 [25.        ]
 [33.        ]
 [22.        ]
 [28.        ]
 [25.        ]
 [39.        ]
 [27.        ]
 [19.        ]
 [29.69911765]
 [26.        ]
 [32.        ]]
df1
inside for
below transform
below dict
below co append
[[  7.25  ]
 [ 71.2833]
 [  7.925 ]
 [ 53.1   ]
 [  8.05  ]
 [  8.4583]
 [ 51.8625]
 [ 21.075 ]
 [ 11.1333]
 [ 30.0708]
 [ 16.7   ]
 [ 26.55  ]
 [  8.05  ]
 [ 31.275 ]
 [  7.8542]
 [ 16.    ]
 [ 29.125 ]
 [ 13.    ]
 [ 18.    ]
 [  7.225 ]
 [ 26.    ]
 [ 13.    ]
 [  8.0292]
 [ 35.5   ]
 [ 21.075 ]
 [ 31.3875]
 [  7.225 ]
 [263.    ]
 [  7.8792]
 [  7.8958]
 [ 27.7208]
 [146.5208]
 [  7.75  ]
 [ 10.5   ]
 [ 82.1708]
 [ 52.    ]
 [  7.2292]
 [  8.05  ]
 [ 18.    ]
 [ 11.2417]
 [  9.475 ]
 [ 21.    ]
 [  7.8958]
 [ 41.5792]
 [  7.8792]
 [  8.05  ]
 [ 15.5   ]
 [  7.75  ]
 [ 21.6792]
 [ 17.8   ]
 [ 39.6875]
 [  7.8   ]
 [ 76.7292]
 [ 26.    ]
 [ 61.9792]
 [ 35.5   ]
 [ 10.5   ]
 [  7.2292]
 [ 27.75  ]
 [ 46.9   ]
 [  7.2292]
 [ 80.    ]
 [ 83.475 ]
 [ 27.9   ]
 [ 27.7208]
 [ 15.2458]
 [ 10.5   ]
 [  8.1583]
 [  7.925 ]
 [  8.6625]
 [ 10.5   ]
 [ 46.9   ]
 [ 73.5   ]
 [ 14.4542]
 [ 56.4958]
 [  7.65  ]
 [  7.8958]
 [  8.05  ]
 [ 29.    ]
 [ 12.475 ]
 [  9.    ]
 [  9.5   ]
 [  7.7875]
 [ 47.1   ]
 [ 10.5   ]
 [ 15.85  ]
 [ 34.375 ]
 [  8.05  ]
 [263.    ]
 [  8.05  ]
 [  8.05  ]
 [  7.8542]
 [ 61.175 ]
 [ 20.575 ]
 [  7.25  ]
 [  8.05  ]
 [ 34.6542]
 [ 63.3583]
 [ 23.    ]
 [ 26.    ]
 [  7.8958]
 [  7.8958]
 [ 77.2875]
 [  8.6542]
 [  7.925 ]
 [  7.8958]
 [  7.65  ]
 [  7.775 ]
 [  7.8958]
 [ 24.15  ]
 [ 52.    ]
 [ 14.4542]
 [  8.05  ]
 [  9.825 ]
 [ 14.4583]
 [  7.925 ]
 [  7.75  ]
 [ 21.    ]
 [247.5208]
 [ 31.275 ]
 [ 73.5   ]
 [  8.05  ]
 [ 30.0708]
 [ 13.    ]
 [ 77.2875]
 [ 11.2417]
 [  7.75  ]
 [  7.1417]
 [ 22.3583]
 [  6.975 ]
 [  7.8958]
 [  7.05  ]
 [ 14.5   ]
 [ 26.    ]
 [ 13.    ]
 [ 15.0458]
 [ 26.2833]
 [ 53.1   ]
 [  9.2167]
 [ 79.2   ]
 [ 15.2458]
 [  7.75  ]
 [ 15.85  ]
 [  6.75  ]
 [ 11.5   ]
 [ 36.75  ]
 [  7.7958]
 [ 34.375 ]
 [ 26.    ]
 [ 13.    ]
 [ 12.525 ]
 [ 66.6   ]
 [  8.05  ]
 [ 14.5   ]
 [  7.3125]
 [ 61.3792]
 [  7.7333]
 [  8.05  ]
 [  8.6625]
 [ 69.55  ]
 [ 16.1   ]
 [ 15.75  ]
 [  7.775 ]
 [  8.6625]
 [ 39.6875]
 [ 20.525 ]
 [ 55.    ]
 [ 27.9   ]
 [ 25.925 ]
 [ 56.4958]
 [ 33.5   ]
 [ 29.125 ]
 [ 11.1333]
 [  7.925 ]
 [ 30.6958]
 [  7.8542]
 [ 25.4667]
 [ 28.7125]
 [ 13.    ]
 [  0.    ]
 [ 69.55  ]
 [ 15.05  ]
 [ 31.3875]
 [ 39.    ]
 [ 22.025 ]
 [ 50.    ]
 [ 15.5   ]
 [ 26.55  ]
 [ 15.5   ]
 [  7.8958]
 [ 13.    ]
 [ 13.    ]
 [  7.8542]
 [ 26.    ]
 [ 27.7208]
 [146.5208]
 [  7.75  ]
 [  8.4042]
 [  7.75  ]
 [ 13.    ]
 [  9.5   ]
 [ 69.55  ]
 [  6.4958]
 [  7.225 ]
 [  8.05  ]
 [ 10.4625]
 [ 15.85  ]
 [ 18.7875]
 [  7.75  ]
 [ 31.    ]
 [  7.05  ]
 [ 21.    ]
 [  7.25  ]
 [ 13.    ]
 [  7.75  ]
 [113.275 ]
 [  7.925 ]
 [ 27.    ]
 [ 76.2917]
 [ 10.5   ]
 [  8.05  ]
 [ 13.    ]
 [  8.05  ]
 [  7.8958]
 [ 90.    ]
 [  9.35  ]
 [ 10.5   ]
 [  7.25  ]
 [ 13.    ]
 [ 25.4667]
 [ 83.475 ]
 [  7.775 ]
 [ 13.5   ]
 [ 31.3875]
 [ 10.5   ]
 [  7.55  ]
 [ 26.    ]
 [ 26.25  ]
 [ 10.5   ]
 [ 12.275 ]
 [ 14.4542]
 [ 15.5   ]
 [ 10.5   ]
 [  7.125 ]
 [  7.225 ]
 [ 90.    ]
 [  7.775 ]
 [ 14.5   ]
 [ 52.5542]
 [ 26.    ]
 [  7.25  ]
 [ 10.4625]
 [ 26.55  ]
 [ 16.1   ]
 [ 20.2125]
 [ 15.2458]
 [ 79.2   ]
 [ 86.5   ]
 [512.3292]
 [ 26.    ]
 [  7.75  ]
 [ 31.3875]
 [ 79.65  ]
 [  0.    ]
 [  7.75  ]
 [ 10.5   ]
 [ 39.6875]
 [  7.775 ]
 [153.4625]
 [135.6333]
 [ 31.    ]
 [  0.    ]
 [ 19.5   ]
 [ 29.7   ]
 [  7.75  ]
 [ 77.9583]
 [  7.75  ]
 [  0.    ]
 [ 29.125 ]
 [ 20.25  ]
 [  7.75  ]
 [  7.8542]
 [  9.5   ]
 [  8.05  ]
 [ 26.    ]
 [  8.6625]
 [  9.5   ]
 [  7.8958]
 [ 13.    ]
 [  7.75  ]
 [ 78.85  ]
 [ 91.0792]
 [ 12.875 ]
 [  8.85  ]
 [  7.8958]
 [ 27.7208]
 [  7.2292]
 [151.55  ]
 [ 30.5   ]
 [247.5208]
 [  7.75  ]
 [ 23.25  ]
 [  0.    ]
 [ 12.35  ]
 [  8.05  ]
 [151.55  ]
 [110.8833]
 [108.9   ]
 [ 24.    ]
 [ 56.9292]
 [ 83.1583]
 [262.375 ]
 [ 26.    ]
 [  7.8958]
 [ 26.25  ]
 [  7.8542]
 [ 26.    ]
 [ 14.    ]
 [164.8667]
 [134.5   ]
 [  7.25  ]
 [  7.8958]
 [ 12.35  ]
 [ 29.    ]
 [ 69.55  ]
 [135.6333]
 [  6.2375]
 [ 13.    ]
 [ 20.525 ]
 [ 57.9792]
 [ 23.25  ]
 [ 28.5   ]
 [153.4625]
 [ 18.    ]
 [133.65  ]
 [  7.8958]
 [ 66.6   ]
 [134.5   ]
 [  8.05  ]
 [ 35.5   ]
 [ 26.    ]
 [263.    ]
 [ 13.    ]
 [ 13.    ]
 [ 13.    ]
 [ 13.    ]
 [ 13.    ]
 [ 16.1   ]
 [ 15.9   ]
 [  8.6625]
 [  9.225 ]
 [ 35.    ]
 [  7.2292]
 [ 17.8   ]
 [  7.225 ]
 [  9.5   ]
 [ 55.    ]
 [ 13.    ]
 [  7.8792]
 [  7.8792]
 [ 27.9   ]
 [ 27.7208]
 [ 14.4542]
 [  7.05  ]
 [ 15.5   ]
 [  7.25  ]
 [ 75.25  ]
 [  7.2292]
 [  7.75  ]
 [ 69.3   ]
 [ 55.4417]
 [  6.4958]
 [  8.05  ]
 [135.6333]
 [ 21.075 ]
 [ 82.1708]
 [  7.25  ]
 [211.5   ]
 [  4.0125]
 [  7.775 ]
 [227.525 ]
 [ 15.7417]
 [  7.925 ]
 [ 52.    ]
 [  7.8958]
 [ 73.5   ]
 [ 46.9   ]
 [ 13.    ]
 [  7.7292]
 [ 12.    ]
 [120.    ]
 [  7.7958]
 [  7.925 ]
 [113.275 ]
 [ 16.7   ]
 [  7.7958]
 [  7.8542]
 [ 26.    ]
 [ 10.5   ]
 [ 12.65  ]
 [  7.925 ]
 [  8.05  ]
 [  9.825 ]
 [ 15.85  ]
 [  8.6625]
 [ 21.    ]
 [  7.75  ]
 [ 18.75  ]
 [  7.775 ]
 [ 25.4667]
 [  7.8958]
 [  6.8583]
 [ 90.    ]
 [  0.    ]
 [  7.925 ]
 [  8.05  ]
 [ 32.5   ]
 [ 13.    ]
 [ 13.    ]
 [ 24.15  ]
 [  7.8958]
 [  7.7333]
 [  7.875 ]
 [ 14.4   ]
 [ 20.2125]
 [  7.25  ]
 [ 26.    ]
 [ 26.    ]
 [  7.75  ]
 [  8.05  ]
 [ 26.55  ]
 [ 16.1   ]
 [ 26.    ]
 [  7.125 ]
 [ 55.9   ]
 [120.    ]
 [ 34.375 ]
 [ 18.75  ]
 [263.    ]
 [ 10.5   ]
 [ 26.25  ]
 [  9.5   ]
 [  7.775 ]
 [ 13.    ]
 [  8.1125]
 [ 81.8583]
 [ 19.5   ]
 [ 26.55  ]
 [ 19.2583]
 [ 30.5   ]
 [ 27.75  ]
 [ 19.9667]
 [ 27.75  ]
 [ 89.1042]
 [  8.05  ]
 [  7.8958]
 [ 26.55  ]
 [ 51.8625]
 [ 10.5   ]
 [  7.75  ]
 [ 26.55  ]
 [  8.05  ]
 [ 38.5   ]
 [ 13.    ]
 [  8.05  ]
 [  7.05  ]
 [  0.    ]
 [ 26.55  ]
 [  7.725 ]
 [ 19.2583]
 [  7.25  ]
 [  8.6625]
 [ 27.75  ]
 [ 13.7917]
 [  9.8375]
 [ 52.    ]
 [ 21.    ]
 [  7.0458]
 [  7.5208]
 [ 12.2875]
 [ 46.9   ]
 [  0.    ]
 [  8.05  ]
 [  9.5875]
 [ 91.0792]
 [ 25.4667]
 [ 90.    ]
 [ 29.7   ]
 [  8.05  ]
 [ 15.9   ]
 [ 19.9667]
 [  7.25  ]
 [ 30.5   ]
 [ 49.5042]
 [  8.05  ]
 [ 14.4583]
 [ 78.2667]
 [ 15.1   ]
 [151.55  ]
 [  7.7958]
 [  8.6625]
 [  7.75  ]
 [  7.6292]
 [  9.5875]
 [ 86.5   ]
 [108.9   ]
 [ 26.    ]
 [ 26.55  ]
 [ 22.525 ]
 [ 56.4958]
 [  7.75  ]
 [  8.05  ]
 [ 26.2875]
 [ 59.4   ]
 [  7.4958]
 [ 34.0208]
 [ 10.5   ]
 [ 24.15  ]
 [ 26.    ]
 [  7.8958]
 [ 93.5   ]
 [  7.8958]
 [  7.225 ]
 [ 57.9792]
 [  7.2292]
 [  7.75  ]
 [ 10.5   ]
 [221.7792]
 [  7.925 ]
 [ 11.5   ]
 [ 26.    ]
 [  7.2292]
 [  7.2292]
 [ 22.3583]
 [  8.6625]
 [ 26.25  ]
 [ 26.55  ]
 [106.425 ]
 [ 14.5   ]
 [ 49.5   ]
 [ 71.    ]
 [ 31.275 ]

In [27]:
df

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Age,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,22.000000,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,38.000000,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,26.000000,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,35.000000,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,35.000000,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,27.000000,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,19.000000,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,29.699118,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,26.000000,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,32.000000,7.7500,B96 B98,Q

In [28]:
dl

{'Age': 29.69911764705882,
 'Fare': 32.204207968574636,
 'Cabin': 'B96 B98',
 'Embarked': 'S'}

In [29]:
#df_t,d=numeric_imputaion(df_test,cols,dl)

In [30]:
#imp['Age']=df['Age'].mean()

In [31]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
SibSp          0
Parch          0
Ticket         0
Age            0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [32]:
df_test.fillna(dl,inplace=True)

In [36]:
pd.get_dummies(df,columns=['Embarked','Cabin'])

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Age,Fare,...,Cabin_E8,Cabin_F E69,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,22.000000,7.2500,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,38.000000,71.2833,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,26.000000,7.9250,...,0,0,0,0,0,0,0,0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,35.000000,53.1000,...,0,0,0,0,0,0,0,0,0,0
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,35.000000,8.0500,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,27.000000,13.0000,...,0,0,0,0,0,0,0,0,0,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,19.000000,30.0000,...,0,0,0,0,0,0,0,0,0,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,29.699118,23.4500,...,0,0,0,0,0,0,0,0,0,0
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,26.000000,30.0000,...,0,0,0,0,0,0,0,0,0,0
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,32.000000,7.7500,...,0,0,0,0,0,0,0,0,0,0

In [40]:
ordinal_dictionary={'male':1,'female':0}

In [41]:
### get dummy or one hot encoding
from sklearn.preprocessing import OrdinalEncoder

In [58]:
gender=['female','male']

In [59]:
OE=OrdinalEncoder(categories=[gender])

In [60]:
OE.fit(df[['Sex']])

OrdinalEncoder(categories=[['female', 'male']], dtype=<class 'numpy.float64'>)

In [70]:
df['Sex']=OE.transform(df[['Sex']])

In [73]:
df.drop('Sex1',inplace=True,axis=1)

In [74]:
df

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Age,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1.0,1,0,A/5 21171,22.000000,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.0,1,0,PC 17599,38.000000,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0.0,0,0,STON/O2. 3101282,26.000000,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.0,1,0,113803,35.000000,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1.0,0,0,373450,35.000000,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1.0,0,0,211536,27.000000,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",0.0,0,0,112053,19.000000,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0.0,1,2,W./C. 6607,29.699118,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",1.0,0,0,111369,26.000000,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1.0,0,0,370376,32.000000,7.7500,B96 B98,Q

In [34]:
#def dummy(df,cols):

SyntaxError: unexpected EOF while parsing (<ipython-input-34-ebc321a5f890>, line 1)

In [ ]:
#def encoding(df,label_enc_col,label_values,one_hot_col):
'''one hot encoder , label encoder and ordinal encoder care clubbed together'''

In [ ]:
drop_columns=['PassengerId','Name','Ticket','Cabin','Survived']

In [63]:
from sklearn.preprocessing import OneHotEncoder

In [84]:
ohe=OneHotEncoder(sparse=False)

In [85]:
ohe.fit(df[['Embarked']])

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=False)

In [86]:
dd=ohe.transform(df[['Embarked']])

In [92]:
ohe.categories_

[array(['C', 'Q', 'S'], dtype=object)]

In [94]:
df

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Age,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1.0,1,0,A/5 21171,22.000000,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.0,1,0,PC 17599,38.000000,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0.0,0,0,STON/O2. 3101282,26.000000,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.0,1,0,113803,35.000000,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1.0,0,0,373450,35.000000,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1.0,0,0,211536,27.000000,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",0.0,0,0,112053,19.000000,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0.0,1,2,W./C. 6607,29.699118,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",1.0,0,0,111369,26.000000,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1.0,0,0,370376,32.000000,7.7500,B96 B98,Q

In [95]:
df=pd.get_dummies(df,columns=['Embarked'])

In [98]:
drop_columns=['PassengerId','Name','Ticket','Cabin','Survived']

In [97]:
y=df['Survived']

In [99]:
X=df.drop(columns=drop_columns,axis=1)

In [115]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [102]:
ss=StandardScaler()

In [103]:
ss.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [110]:
X_cols=list(X.columns)

In [112]:
X=ss.transform(X)

In [116]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2)

In [119]:
y_test.shape

(179,)

In [93]:
from sklearn.ensemble import RandomForestClassifier

In [120]:
rfc=RandomForestClassifier()

In [121]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [122]:
y_predict=rfc.predict(X_test)

In [156]:
y_prob_predict=rfc.predict_proba(X_train)

In [157]:
y_prob_predict

array([[0.06, 0.94],
       [0.36, 0.64],
       [0.76, 0.24],
       ...,
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.86, 0.14]])

In [123]:
rfc.feature_importances_

array([0.08525322, 0.26081602, 0.04360281, 0.04305276, 0.256646  ,
       0.27627727, 0.01204273, 0.00903399, 0.01327521])

In [131]:
feature_importance=dict(zip(X_cols,rfc.feature_importances_))

In [133]:
feature_importance

{'Pclass': 0.08525321633057319,
 'Sex': 0.2608160222816906,
 'SibSp': 0.04360280779096553,
 'Parch': 0.04305275862396976,
 'Age': 0.2566459964847342,
 'Fare': 0.2762772686639982,
 'Embarked_C': 0.012042727007758026,
 'Embarked_Q': 0.009033987910976706,
 'Embarked_S': 0.013275214905333746}

In [138]:
feature_importance=pd.DataFrame.from_dict({'feature':X_cols,'imp':rfc.feature_importances_})

In [140]:
feature_importance.sort_values('imp')

      feature       imp
7  Embarked_Q  0.009034
6  Embarked_C  0.012043
8  Embarked_S  0.013275
3       Parch  0.043053
2       SibSp  0.043603
0      Pclass  0.085253
4         Age  0.256646
1         Sex  0.260816
5        Fare  0.276277

In [164]:
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import cross_val_score,cross_val_predict
from sklearn.linear_model import SGDClassifier

In [ ]:
sgdc=SGDClassifier

In [146]:
cross_val_score(rfc,X_train,y_train,cv=5,scoring='roc_auc')

array([0.76108374, 0.88916256, 0.8539185 , 0.83469175, 0.86426332])

In [167]:
y_prob=cross_val_predict(rfc,X_train,y_train,cv=5,method='predict_proba')

In [171]:
y_prob

array([[0.15, 0.85],
       [0.98, 0.02],
       [0.45, 0.55],
       ...,
       [0.97, 0.03],
       [0.72, 0.28],
       [0.47, 0.53]])

In [159]:
precision,recall,threshold=precision_recall_curve(y_train,y_prob_predict[0])

ValueError: Found input variables with inconsistent numbers of samples: [712, 2]