feature veactor = input ,label = output
simple models work well with low or less data
transfer learning:use the existing model and tweak it for low data

if data is low then following techniques is used:
    1.transfer learning:use the existing model and tweak it for low data
    2.data augmentauion:usua generate the image data by some changes using scaling rotation or affine transform 
    3.generate synthatic data

ecess data:
    1.concept drift : relationship between feature and label changes over time (especially in finalcial data)
        how to overcome curse of dimesionality:
    1. feature selection: deciding which data is actually relevant 
    2. feature engineering: aggregating low level data into useful feature
    3.dimensionality reduction:reduce the complexity without losing information
concept hierarchy:
    mapping that combines low level feature into more general usable feature

problems with data :
    1. insufficient data 
    2.too much data 
    3.non representative data : data is inaccurate and smal errors have significant impact .If data is biased then it is mitigated 
        using oversampling or undersampling
    4. missing data 
    5.Duplicate data 
    6.outliers

dealing with missing data :
    1.Deletion: listwise deletion ,delete entire row if particulat feature is missing.
    2. Imputataion: univariate imputation ,multivariate imputaion
        2.1 column avegare,median,mode (univariate) or
        interpret from other column or build a machine learning model  that predicts the value.(multivariate imputation)
        2.2 hot deck imputation : sort record by any criteria and for each missing value use the prior missing value
            (Last observation carried forward) ususally time series data 
            
                                                                                                )

outliers: the points which lie more than three standard daviations from mean are considered outliers
    1. identify
      1.1 distance from mean 
      1.2 distance from fitted line
    2. correction
      2.1 drop the record
      2.2 if genuine outlier then leave it or cap it 
              in the case of capping there is need to standardize the data by deduction mean  from data points

oversampling and undersmpling introduces bias to the data in order to make it balanced

what is stratified sampling

use pandas replace to replace unwated values with known or meaningful

In [5]:
import pandas as pd
import numpy as np

In [3]:
cars=pd.read_csv(r'C:\Users\shsubham\pythoncode\Git-hub\preparing-data-machine-learning\datasets\cars.csv')

if the data ? or any other value replace it with np.nan

In [4]:
cars.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,?
2,plymouth satellite,18.0,?,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8

In [7]:
cars=cars.replace("?",np.nan)

In [8]:
cars.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,NaN
2,plymouth satellite,18.0,NaN,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8