In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_raw=pd.read_csv("C:\\Users\\shsubham\\program\\DATA\\titanic\\titanic_train.csv")

In [3]:
df_raw.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df=df_raw.drop(['Name','PassengerId','Ticket','Cabin','Embarked','Fare'],axis=1)

In [5]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0      1      0
1         1       1  female  38.0      1      0
2         1       3  female  26.0      0      0
3         1       1  female  35.0      1      0
4         0       3    male  35.0      0      0

In [6]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [7]:
gender_encoder=OrdinalEncoder(dtype=np.int32)
gender_encoder.fit(df[['Sex']],)

OrdinalEncoder(categories='auto', dtype=<class 'numpy.int32'>)

In [8]:
df['Sex']=gender_encoder.transform(df[['Sex']])

In [9]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch
0         0       3    1  22.0      1      0
1         1       1    0  38.0      1      0
2         1       3    0  26.0      0      0
3         1       1    0  35.0      1      0
4         0       3    1  35.0      0      0

In [10]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
SI=SimpleImputer()

In [13]:
df_final=df.dropna()

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [15]:
label=df_final['Survived']
feature=df_final.drop('Survived',axis=1)

In [16]:
X_train,X_test,y_train,y_test=train_test_split(feature,label,test_size=.3)

In [17]:
X_test.count()

Pclass    215
Sex       215
Age       215
SibSp     215
Parch     215
dtype: int64

In [18]:
LR=LogisticRegression()

In [19]:
LR.fit(X_train,y_train)

C:\Users\shsubham\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
LR.coef_

array([[-0.78826217, -2.1545375 , -0.02791479, -0.33447645,  0.1043709 ]])

In [21]:
predicted=LR.predict(X_test)

In [22]:
result_frame=pd.DataFrame({"predicted":predicted,'Actual':y_test})

In [23]:
from sklearn.metrics import f1_score

In [24]:
score=f1_score(y_test,predicted,average='weighted')

In [25]:
print(score)

0.8144470034113144

In [36]:
svc= SVC(gamma='scale')

In [35]:
#svc.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [28]:
#svc_predict=svc.predict(X_test)

In [29]:
#svc_score=f1_score(y_test,svc_predict,average='weighted')

In [30]:
#print(svc_score)

0.8241559000861325

In [47]:
parameter={'C':[1,2,4,8,16],'kernel':['rbf','sigmoid','poly']}

In [38]:
from sklearn.model_selection import GridSearchCV

In [48]:
gsvc=GridSearchCV(svc,parameter,cv=10)

In [49]:
gsvc.fit(X_train,y_train)

C:\Users\shsubham\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'C': [1, 2, 4, 8, 16],
                         'kernel': ['rbf', 'sigmoid', 'poly']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [50]:
gsvc.best_params_

{'C': 16, 'kernel': 'rbf'}

In [46]:
svc_best=SVC(C=4,kernel='rbf',gamma='scale')

In [ ]:
svc_best.fit()