In [1]:
import pandas as pd
import numpy as np
import sklearn.tree

In [2]:
df=pd.read_csv(r"../data/titanic_train.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
data=df.loc[:,['Survived','Pclass','Sex','Age','SibSp','Embarked']]

In [5]:
data.head(3)

   Survived  Pclass     Sex   Age  SibSp Embarked
0         0       3    male  22.0      1        S
1         1       1  female  38.0      1        C
2         1       3  female  26.0      0        S

In [6]:
#data=pd.concat(data,pd.)

In [7]:
#

In [8]:
#X.head(3)

In [9]:
for col in data.columns:
    print(col,data[col].dtype,data[col].nunique())

Survived int64 2
Pclass int64 3
Sex object 2
Age float64 88
SibSp int64 7
Embarked object 3

In [10]:
data['Pclass'] = data['Pclass'].apply(str)

In [11]:
data.head(3)
data.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Embarked'], dtype='object')

In [12]:
for col in data.columns:
    print(col,data[col].dtype,data[col].nunique(),   data[col].isna().sum())

Survived int64 2 0
Pclass object 3 0
Sex object 2 0
Age float64 88 177
SibSp int64 7 0
Embarked object 3 2

In [13]:
#pd.get_dummies(data[col],prefix=col)

In [14]:
data=data.dropna()

In [15]:
dummy_col=['Pclass','Embarked']
for col in dummy_col:
    data=pd.concat([data,pd.get_dummies(data[col],prefix=col)],axis=1)
    data=data.drop(col,axis=1)

In [16]:
#data=data.drop(labels='Pclass',axis=1)

In [17]:
data['Sex']=data['Sex'].map({'male':1,'female':0})

In [18]:
data.head(3)

,Survived,Sex,Age,SibSp,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,0,1,22.0,1,0,0,1,0,0,1
1,1,0,38.0,1,1,0,0,1,0,0
2,1,0,26.0,0,0,0,1,0,0,1

In [19]:
#PCA

In [20]:
data['Age'].isna().sum()

0

In [21]:
X=data.iloc[:,1:]
y=data['Survived']

In [22]:
X.head(3)

,Sex,Age,SibSp,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,1,22.0,1,0,0,1,0,0,1
1,0,38.0,1,1,0,0,1,0,0
2,0,26.0,0,0,0,1,0,0,1

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [24]:
#col1=col1.drop(['PassengerId','Ticket'])

In [25]:
#col1

In [26]:
#data=df[col1]

In [27]:
data.head(3)

,Survived,Sex,Age,SibSp,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,0,1,22.0,1,0,0,1,0,0,1
1,1,0,38.0,1,1,0,0,1,0,0
2,1,0,26.0,0,0,0,1,0,0,1

In [28]:
#train[‘Pclass’] = train[‘Pclass’].apply(str)

In [29]:
#for col in train.dtypes[train.dtypes == 'object'].index:
#    train=pd.concat([train,pd.get_dummies(train[col])],axis=1)

In [30]:
#train.head(3)

In [31]:
#pid=train.PassengerId

In [32]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2],axis=1)

   0  1
0  a  c
1  b  d

In [33]:
#pid[pid>3].index

In [34]:
#train['Survived'].nunique()

In [35]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
from sklearn.metrics import roc_curve,auc,r2_score,precision_score,recall_score

In [36]:
#DCT=DecisionTreeClassifier(max_depth=,max_features=,min_sample_split,min_sample_leaf,)
#RFC=RandomForestClassifier(n_estimators,max_depth,min_samples_split=)
#SVClassification=SVC(C,kernel,degree,)

In [37]:
#grid_search,random serch,baysiab
X_train.head(3)

,Sex,Age,SibSp,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
754,0,48.0,1,0,1,0,0,0,1
113,0,20.0,1,0,0,1,0,0,1
705,1,39.0,0,0,1,0,0,0,1

In [38]:
param={'criterion':['gini','entropy'],'max_depth':list(range(1,32)),'min_samples_split':list(range(2,32,2)),'min_samples_leaf':list(range(2,10,2))}
DTC=DecisionTreeClassifier()
grid_search=GridSearchCV(DTC,param_grid=param,cv=10)
#grid_search=GridSearchCV(DTC,param_grid=param,cv=10,scoring='roc_auc',return_train_score =True)

In [39]:
grid_search.fit(X_train,y_train)

C:\Users\shsubham\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                       13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                                       23, 24, 25, 26, 27, 28, 29, 30, ...],
                         'min_samples_leaf': [2, 4, 6, 8],
                         'min_samples_split': [2, 4, 6, 8, 10, 12, 14, 16, 18,
                                               20, 22, 24, 26, 28, 30]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [40]:
#grid_search.cv_results_   #

In [41]:
# roc and auc diagram

In [42]:
print(param)

{'criterion': ['gini', 'entropy'], 'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31], 'min_samples_split': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30], 'min_samples_leaf': [2, 4, 6, 8]}

In [43]:
range(2,32,2)

range(2, 32, 2)

In [44]:
#plotting
#from matplotlib.legend_handler import HandlerLine2D
#line1, = plt.plot(max_depths, train_results, ‘b’, label=”Train AUC”)
#line2, = plt.plot(max_depths, test_results, ‘r’, label=”Test AUC”)
#plt.legend(handler_map={line1: HandlerLine2D(numpoints=2)})
#plt.ylabel(‘AUC score’)
#plt.xlabel(‘Tree depth’)
#plt.show()

In [45]:
#DTC_F=DecisionTreeClassifier('criterion'='entropy',max)

In [46]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier,gradient_boosting

In [47]:
RFC=RandomForestClassifier(n_estimators=400,max_leaf_nodes=16,n_jobs=-1,max_features='log2')

In [48]:
RFC.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='log2', max_leaf_nodes=16,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=400,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [54]:
y_pred=RFC.predict(X_test)

In [51]:
r2_RFC=r2_score(y_test,y_pred)

In [52]:
from sklearn import metrics

In [66]:
y_test_np=np.array(y_test)

In [70]:
y_pred

array([1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0], dtype=int64)

In [67]:
fpr, tpr, thresholds = metrics.roc_curve(y_test_np,y_pred, pos_label=2)

C:\Users\shsubham\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\ranking.py:659: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  UndefinedMetricWarning)

sensitivity,specificity,precision,recall               

sensitivity or True Positive Rate or recall = true positive / tp+fn

Specificity = True Negatives / (True Negatives + False Positives) 

precision=tp/tp+fp

recall=tp/tp+fn

fp rate=fp/fp+tn
False Positive Rate = 1 - Specificity
False Positive Rate = False Positives / (False Positives + True Negatives) #false alarm rate ,inverted specificity
ROC curves are appropriate when the observations are balanced between each class, whereas precision-recall curves are appropriate for imbalanced datasets.
ROC is a plot of the false positive rate (x-axis) versus the true positive rate (y-axis) for a number of different candidate threshold values between 0.0 and 1.0

When we decrease the threshold, we get more positive values thus increasing the sensitivity. Meanwhile, this will decrease the specificity.
https://developers.google.com/machine-learning/crash-course/classification/roc-and-auc
AUC is scale-invariant.
AUC is classification-threshold-invariant.

---
However, both these reasons come with caveats, which may limit the usefulness of AUC in certain use cases:

Scale invariance is not always desirable. For example, sometimes we really do need well calibrated probability outputs, and AUC won’t tell us about that.

Classification-threshold invariance is not always desirable. In cases where there are wide disparities in the cost of false negatives vs. false positives, it may be critical to minimize one type of classification error. For example, when doing email spam detection, you likely want to prioritize minimizing false positives (even if that results in a significant increase of false negatives). AUC isn't a useful metric for this type of optimization.

AUC is based on the relative predictions, so any transformation of the predictions that preserves the relative ranking has no effect on AUC. This is clearly not the case for other metrics such as squared error, log loss, or prediction bias

In [72]:
from sklearn.linear_model import LogisticRegression

In [73]:
LR=LogisticRegression(solver='lbfgs')

In [74]:
LR.fit(X_train,y_train)

C:\Users\shsubham\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [75]:
lr_probs = LR.predict_proba(X_test)

In [77]:
lr_probs=lr_probs[:,1]

In [88]:
ns_probs = [.5 for _ in range(len(y_test))]

In [89]:
ns_probs

[0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5]

In [81]:
from sklearn.metrics import roc_auc_score

In [93]:
lr_auc=roc_auc_score(y_test,lr_probs)

In [90]:
ns_auc = roc_auc_score(y_test, ns_probs)

In [94]:
lr_auc

0.9287941787941788

In [95]:
ns_auc

0.5

In [99]:
ns_fpr, ns_tpr, thresholds1  = roc_curve(y_test, ns_probs)
lr_fpr, lr_tpr, thresholds2  = roc_curve(y_test, lr_probs)

In [103]:

max(lr_probs)

0.9382390426187202