In [3]:
import pandas as pd
import numpy as np
import sklearn
import warnings

In [ ]:
warnings.filterwarnings("ignore",category=DeprecationWarning)

Ensemble methods are meta-algorithms that combine several machine learning techniques into one predictive model in order to decrease variance (bagging), bias (boosting), or improve predictions (stacking)

simple techniques   : Max Voting,Averaging,Weighted Average
ADVANCED TECHNIQUES :Stacking,Blending,Pasting,Bagging,Boosting

decision trees are high variance models.
In RandomForest each decision tree is trained on different(random) set of data or random set of fearures

bagging yields more uncorrelated predictors than pasting
in bagging oob_score=True to evaluate ensamble on those points not seen in training.

In [4]:
df= pd.read_csv("..\\data\\titanic_train.csv")

In [5]:
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [6]:
dates = pd.date_range('1/1/2000', periods=8)
df2 = pd.DataFrame(np.random.randn(8, 4),index=dates, columns=['A', 'B', 'C', 'D'])

In [7]:
df1 = pd.DataFrame(np.random.randn(6, 4),index=list('abcdef'),columns=list('ABCD'))
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))

In [8]:
s1

a    1.344025
b    1.386047
c    1.802685
d   -1.444336
e   -1.034195
f    0.247139
dtype: float64

In [9]:
v=df2.iloc[0:1,:]

In [10]:
type(v)
df1.loc['a']

A   -0.235247
B   -1.686832
C    1.386799
D   -0.446283
Name: a, dtype: float64

In [11]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
df.drop(['PassengerId','Name','Ticket'],axis=1,inplace=True)

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
LE_sex=LabelEncoder()

In [15]:
LE_sex.fit(df['Sex'])

LabelEncoder()

In [16]:
df['Sex']=LE_sex.transform(df['Sex'])

In [17]:
#df['Sex']=df['sex'].map({'male':0,'female':1})

In [18]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    1  22.0      1      0   7.2500   NaN        S
1         1       1    0  38.0      1      0  71.2833   C85        C
2         1       3    0  26.0      0      0   7.9250   NaN        S
3         1       1    0  35.0      1      0  53.1000  C123        S
4         0       3    1  35.0      0      0   8.0500   NaN        S

In [19]:
sex=df['Age'].unique()

In [20]:
df['Age'].isnull().sum()

177

In [21]:
for col in df.columns:
    print(col,df[col].isnull().sum())

Survived 0
Pclass 0
Sex 0
Age 177
SibSp 0
Parch 0
Fare 0
Cabin 687
Embarked 2

In [22]:
GB=df.groupby('Survived')

In [23]:
val=GB.get_group(0)

In [24]:
#df['Age']

In [25]:
#val.dropna(axis=0,inplace=True)
#age1=age1.sort_values()
#df.groupby('one').mean()

In [26]:
from sklearn.preprocessing import Imputer

In [27]:
IM_age=Imputer(strategy='median')
IM_age.fit(df[['Age']])
df[['Age']]=IM_age.transform(df[['Age']])

C:\Users\shsubham\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [28]:
#df.loc[df['Age'].isnull(),'Age']
#train[‘Embarked’] = train[‘Embarked’].fillna(train[‘Embarked’].mode()[0])

In [29]:
df.loc[(df['Survived']==0) & (df['Age'].isnull() ),'Age']=21
df['Survived'] = np.where(df['Survived'] > 1990, 21, df['Survived'])

In [30]:
df['Age'].isnull().sum()

0

In [31]:
#df=pd.get_dummies(df,columns=['Embarked'], prefix='EMB')

In [32]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    1  22.0      1      0   7.2500   NaN        S
1         1       1    0  38.0      1      0  71.2833   C85        C
2         1       3    0  26.0      0      0   7.9250   NaN        S
3         1       1    0  35.0      1      0  53.1000  C123        S
4         0       3    1  35.0      0      0   8.0500   NaN        S

In [33]:
dummy=pd.get_dummies(df['Embarked'],prefix='EMB')

In [34]:
df=pd.concat([df,dummy],sort=True,axis=1)
#df=df.merge(dummy,left_index=True,right_index=True)

In [35]:
#df.drop(columns=['Embarked'],inplace=True)

In [36]:
from sklearn.model_selection import train_test_split,StratifiedKFold,cross_val_score
from sklearn.linear_model import LogisticRegression

bagging and pasting :RandomForest

#how to implement early stopping once the model starts improving on traing data but not on test 
finding the inflection point

In [37]:
kfold=StratifiedKFold(n_splits=10,random_state=10)
kfold

StratifiedKFold(n_splits=10, random_state=10, shuffle=False)

In [38]:
print(kfold)

StratifiedKFold(n_splits=10, random_state=10, shuffle=False)

In [39]:
from sklearn import svm

In [40]:
#https://www.stat.berkeley.edu/~breiman/RandomForests/cc_home.htm#ooberr

In [41]:
 california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

In [42]:
output_targets = pd.DataFrame()

In [43]:
output_targets["median_house_value_is_high"]=(california_housing_dataframe["median_house_value"] > 265000).astype(int)

In [44]:
california_housing_dataframe["median_house_value"]

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [45]:
output_targets["median_house_value_is_high"].unique()

array([0, 1], dtype=int64)

In [46]:
val=output_targets.loc[output_targets["median_house_value_is_high"] > 0]

In [47]:
val.shape

(4247, 1)

In [49]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,EMB_C,EMB_Q,EMB_S
0,0,3,1,22.0,1,0,7.2500,NaN,S,0,0,1
1,1,1,0,38.0,1,0,71.2833,C85,C,1,0,0
2,1,3,0,26.0,0,0,7.9250,NaN,S,0,0,1
3,1,1,0,35.0,1,0,53.1000,C123,S,0,0,1
4,0,3,1,35.0,0,0,8.0500,NaN,S,0,0,1

In [50]:
df.drop(['Cabin','Parch','Embarked'],axis=1,inplace=True)

In [52]:
df.head()

   Survived  Pclass  Sex   Age  SibSp     Fare  EMB_C  EMB_Q  EMB_S
0         0       3    1  22.0      1   7.2500      0      0      1
1         1       1    0  38.0      1  71.2833      1      0      0
2         1       3    0  26.0      0   7.9250      0      0      1
3         1       1    0  35.0      1  53.1000      0      0      1
4         0       3    1  35.0      0   8.0500      0      0      1

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X=df.iloc[:,1:]

In [55]:
y=df['Survived']

In [58]:
X.head()

   Pclass  Sex   Age  SibSp     Fare  EMB_C  EMB_Q  EMB_S
0       3    1  22.0      1   7.2500      0      0      1
1       1    0  38.0      1  71.2833      1      0      0
2       3    0  26.0      0   7.9250      0      0      1
3       1    0  35.0      1  53.1000      0      0      1
4       3    1  35.0      0   8.0500      0      0      1

In [61]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.3)

ada boost allows to specify the total number of weak learners in the sequence
ada boost shrinks the contribution of each classifier or regressor by learning and ther is trade off 
learning rate and number of estimatior

In [62]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

In [83]:
ADA=AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),n_estimators=5000,learning_rate=.1)

In [84]:

ADA.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(class_weight=None,
                                                         criterion='gini',
                                                         max_depth=1,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort=False,
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=0.1, n_estimators=5000, random_state=None)

In [85]:
ADA.estimator_weights_  #need to understand

array([1., 1., 1., ..., 1., 1., 1.])

In [86]:
y_predict=ADA.predict(X_test)

In [81]:
from sklearn.metrics import accuracy_score

In [87]:
accuracy_score(y_test,y_predict)

0.7910447761194029

eval_set = [(X_test, y_test)]
model.fit(X_train, y_train, eval_metric="error", eval_set=eval_set, verbose=True)
XGBoost supports a suite of evaluation metrics not limited to:

“rmse” for root mean squared error.
“mae” for mean absolute error.
“logloss” for binary logarithmic loss and “mlogloss” for multi-class log loss (cross entropy).
“error” for classification error. 
“auc” for area under ROC curve.

In [ ]:
anaconda search -t conda xgboost
conda install -c anaconda py-xgboost
#https://xgboost.readthedocs.io/en/latest//parameter.html

In [4]:
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'xgboost'

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/96/84/4e2cae6247f397f83d8adc5c2a2a0c5d7d790a14a4c7400ff6574586f589/xgboost-0.90.tar.gz (676kB)

ERROR: Files/directories not found in C:\Users\shsubham\AppData\Local\Temp\1\pip-install-cphmzc6f\xgboost\pip-egg-info