In [4]:
import pandas as pd
import numpy as np
import sklearn

Ensemble methods are meta-algorithms that combine several machine learning techniques into one predictive model in order to decrease variance (bagging), bias (boosting), or improve predictions (stacking)

simple techniques   : Max Voting,Averaging,Weighted Average
ADVANCED TECHNIQUES :Stacking,Blending,Pasting,Bagging,Boosting

decision trees are high variance models.
In RandomForest each decision tree is trained on different(random) set of data or random set of fearures

bagging yields more uncorrelated predictors than pasting
in bagging oob_score=True to evaluate ensamble on those points not seen in training.

In [310]:
df= pd.read_csv("..\\data\\titanic_train.csv")

In [311]:
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [312]:
dates = pd.date_range('1/1/2000', periods=8)
df2 = pd.DataFrame(np.random.randn(8, 4),index=dates, columns=['A', 'B', 'C', 'D'])

In [313]:
df1 = pd.DataFrame(np.random.randn(6, 4),index=list('abcdef'),columns=list('ABCD'))
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))

In [314]:
s1

a   -1.957918
b    1.070630
c   -1.307679
d   -0.584515
e    0.855917
f    0.438830
dtype: float64

In [315]:
v=df2.iloc[0:1,:]

In [316]:
type(v)
df1.loc['a']

A   -0.659315
B   -1.278881
C    0.858912
D   -0.782855
Name: a, dtype: float64

In [317]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [318]:
df.drop(['PassengerId','Name','Ticket'],axis=1,inplace=True)

In [319]:
from sklearn.preprocessing import LabelEncoder

In [320]:
LE_sex=LabelEncoder()

In [321]:
LE_sex.fit(df['Sex'])

LabelEncoder()

In [322]:
df['Sex']=LE_sex.transform(df['Sex'])

In [350]:
#df['Sex']=df['sex'].map({'male':0,'female':1})

In [323]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    1  22.0      1      0   7.2500   NaN        S
1         1       1    0  38.0      1      0  71.2833   C85        C
2         1       3    0  26.0      0      0   7.9250   NaN        S
3         1       1    0  35.0      1      0  53.1000  C123        S
4         0       3    1  35.0      0      0   8.0500   NaN        S

In [324]:
sex=df['Age'].unique()

In [325]:
df['Age'].isnull().sum()

177

In [326]:
for col in df.columns:
    print(col,df[col].isnull().sum())

Survived 0
Pclass 0
Sex 0
Age 177
SibSp 0
Parch 0
Fare 0
Cabin 687
Embarked 2

In [327]:
GB=df.groupby('Survived')

In [328]:
val=GB.get_group(0)

In [329]:
#df['Age']

In [330]:
#val.dropna(axis=0,inplace=True)
#age1=age1.sort_values()
#df.groupby('one').mean()

In [331]:
from sklearn.preprocessing import Imputer

In [332]:
IM_age=Imputer(strategy='median')
IM_age.fit(df[['Age']])
df[['Age']]=IM_age.transform(df[['Age']])

In [333]:
#df.loc[df['Age'].isnull(),'Age']
#train[‘Embarked’] = train[‘Embarked’].fillna(train[‘Embarked’].mode()[0])

In [334]:
df.loc[(df['Survived']==0) & (df['Age'].isnull() ),'Age']=21
df['Survived'] = np.where(df['Survived'] > 1990, 21, df['Survived'])

In [335]:
df['Age'].isnull().sum()

0

In [336]:
#df=pd.get_dummies(df,columns=['Embarked'], prefix='EMB')

In [337]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    1  22.0      1      0   7.2500   NaN        S
1         1       1    0  38.0      1      0  71.2833   C85        C
2         1       3    0  26.0      0      0   7.9250   NaN        S
3         1       1    0  35.0      1      0  53.1000  C123        S
4         0       3    1  35.0      0      0   8.0500   NaN        S

In [338]:
dummy=pd.get_dummies(df['Embarked'],prefix='EMB')

In [342]:
df=pd.concat([df,dummy],sort=True,axis=1)
#df=df.merge(dummy,left_index=True,right_index=True)

In [347]:
#df.drop(columns=['Embarked'],inplace=True)

In [351]:
from sklearn.model_selection import train_test_split,StratifiedKFold,cross_val_score
from sklearn.linear_model import LogisticRegression

bagging and pasting :RandomForest

#how to implement early stopping once the model starts improving on traing data but not on test 
finding the inflection point

In [353]:
kfold=StratifiedKFold(n_splits=10,random_state=10)
kfold

StratifiedKFold(n_splits=10, random_state=10, shuffle=False)

In [355]:
print(kfold)

StratifiedKFold(n_splits=10, random_state=10, shuffle=False)

In [2]:
from sklearn import svm

In [ ]:
#https://www.stat.berkeley.edu/~breiman/RandomForests/cc_home.htm#ooberr

In [5]:
 california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

In [6]:
output_targets = pd.DataFrame()

In [27]:
output_targets["median_house_value_is_high"]=(california_housing_dataframe["median_house_value"] > 265000).astype(int)

In [13]:
california_housing_dataframe["median_house_value"]

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [28]:
output_targets["median_house_value_is_high"].unique()

array([0, 1], dtype=int64)

In [16]:
val=output_targets.loc[output_targets["median_house_value_is_high"] > 0]

In [18]:
val.shape

(4247, 1)