feature veactor = input ,label = output
simple models work well with low or less data
transfer learning:use the existing model and tweak it for low data

if data is low then following techniques is used:
    1.transfer learning:use the existing model and tweak it for low data
    2.data augmentauion:usua generate the image data by some changes using scaling rotation or affine transform 
    3.generate synthatic data

ecess data:
    1.concept drift : relationship between feature and label changes over time (especially in finalcial data)
        how to overcome curse of dimesionality:
    1. feature selection: deciding which data is actually relevant 
    2. feature engineering: aggregating low level data into useful feature
    3.dimensionality reduction:reduce the complexity without losing information
concept hierarchy:
    mapping that combines low level feature into more general usable feature

problems with data :
    1. insufficient data 
    2.too much data 
    3.non representative data : data is inaccurate and smal errors have significant impact .If data is biased then it is mitigated 
        using oversampling or undersampling
    4. missing data 
    5.Duplicate data 
    6.outliers

dealing with missing data :
    1.Deletion: listwise deletion ,delete entire row if particulat feature is missing.
    2. Imputataion: univariate imputation ,multivariate imputaion
        2.1 column avegare,median,mode (univariate) or
        interpret from other column or build a machine learning model  that predicts the value.(multivariate imputation)
        2.2 hot deck imputation : sort record by any criteria and for each missing value use the prior missing value
            (Last observation carried forward) ususally time series data 
            
                                                                                                )

outliers: the points which lie more than three standard daviations from mean are considered outliers
    1. identify
      1.1 distance from mean 
      1.2 distance from fitted line
    2. correction
      2.1 drop the record
      2.2 if genuine outlier then leave it or cap it 
              in the case of capping there is need to standardize the data by deduction mean  from data points

oversampling and undersmpling introduces bias to the data in order to make it balanced

what is stratified sampling

use pandas replace to replace unwated values with known or meaningful

following are the steps taken at the time of data prepration:

1. use df.describe to see the lower higher or other parameters 
2. count and handle nan values
3. see the unique values and data type .Check for numeric and non numeric values.  cars['Year'].unique()
4. use simple imputer to replace the missing values with mean ,median or mode.
5.

https://medium.com/@juniormiranda_23768/ensemble-methods-bagging-and-pasting-in-scikit-learn-723f4183cdf4

###  scaling the data

1.MinMaxScalar
2.RobustScalar
3.StandardScalar
4.Normalizer

https://towardsdatascience.com/scale-standardize-or-normalize-with-scikit-learn-6ccc7d176a02

In [5]:
import pandas as pd
import numpy as np

In [3]:
cars=pd.read_csv(r'C:\Users\shsubham\pythoncode\Git-hub\preparing-data-machine-learning\datasets\cars.csv')

if the data ? or any other value replace it with np.nan

In [4]:
cars.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,?
2,plymouth satellite,18.0,?,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8

In [7]:
cars=cars.replace("?",np.nan)

In [8]:
cars.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,NaN
2,plymouth satellite,18.0,NaN,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8

In [9]:
cars.isna().sum()

Model                0
MPG                  9
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

pd.na facilities : isna(),fillna(),dropna()
isna() and isnull() are same

check for numeric and non numeric count

In [10]:
cars['Year'].str.isnumericmeric().value_counts()

True     357
False     37
Name: Year, dtype: int64

In [12]:
cars['Year'].unique()

array(['1970[1975]', '1970', '1970, 1976', '1970-1972', '1971',
       '1971[1973]971', '1971[1973]', '1972[1973]', '1972', '1972-73',
       '1973', '1973-1974', '1973, 1974', '1973, 19741973', '1974',
       '1974, 1975', '1974, 19751974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1982-1985'], dtype=object)

In [13]:
from sklearn.impute import SimpleImputer

In [64]:
df=pd.read_csv(r'C:\Users\shsubham\pythoncode\Git-hub\preparing-data-machine-learning\datasets\diabetes.csv')

In [65]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [66]:
df['BloodPressure'].replace(0.0,np.nan,inplace=True)

In [67]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,733.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,72.405184,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,12.382158,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [68]:
df['BloodPressure'].isna().sum()

35

In [69]:
SI_BP=SimpleImputer(np.nan,strategy='mean')

In [70]:
SI_BP.fit([df['BloodPressure']])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [71]:
df['BloodPressure']=pd.Series(SI_BP.transform([df['BloodPressure']])[0])

In [72]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,733.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,72.405184,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,12.382158,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [73]:
df['BloodPressure'].isna().sum()

35

In [37]:
col1=df['BloodPressure']

In [38]:
type(col1)

pandas.core.series.Series

In [80]:
df['BloodPressure']=SI_BP.transform([df['BloodPressure']])

ValueError: Length of values does not match length of index

In [59]:
df['BloodPressure']

0      72.0
1      66.0
2      64.0
3      66.0
4      40.0
       ...
763     NaN
764     NaN
765     NaN
766     NaN
767     NaN
Name: BloodPressure, Length: 768, dtype: float64

In [47]:
tv=(SI_BP.transform([df['BloodPressure']]))

In [50]:
df['BloodPressure']=pd.Series(tv[0])

In [60]:
imp=SimpleImputer(np.nan,strategy='mean')

In [61]:
imp.fit(df['BloodPressure'].values.reshape(-1,1))

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [78]:
df['BloodPressure']=imp.transform(df['BloodPressure'].values.reshape(-1,1))

In [79]:
df['BloodPressure'].values

array([ 72.        ,  66.        ,  64.        ,  66.        ,
        40.        ,  74.        ,  50.        ,  70.        ,
        96.        ,  92.        ,  74.        ,  80.        ,
        60.        ,  72.        ,  84.        ,  74.        ,
        30.        ,  70.        ,  88.        ,  84.        ,
        90.        ,  80.        ,  94.        ,  70.        ,
        76.        ,  66.        ,  82.        ,  92.        ,
        75.        ,  76.        ,  58.        ,  92.        ,
        78.        ,  60.        ,  76.        ,  76.        ,
        68.        ,  72.        ,  64.        ,  84.        ,
        92.        , 110.        ,  64.        ,  66.        ,
        56.        ,  70.        ,  66.        ,  80.        ,
        50.        ,  66.        ,  90.        ,  66.        ,
        50.        ,  68.        ,  88.        ,  82.        ,
        64.        ,  72.        ,  62.        ,  58.        ,
        66.        ,  74.        ,  88.        ,  92.        ,
        66.        ,  85.        ,  66.        ,  64.        ,
        90.        ,  86.        ,  75.        ,  48.        ,
        78.        ,  72.        ,  66.        ,  44.        ,
        78.        ,  65.        , 108.        ,  74.        ,
        72.        ,  68.        ,  70.        ,  68.        ,
        55.        ,  80.        ,  78.        ,  72.        ,
        82.        ,  72.        ,  62.        ,  48.        ,
        50.        ,  90.        ,  72.        ,  60.        ,
        96.        ,  72.        ,  65.        ,  56.        ,
       122.        ,  58.        ,  58.        ,  85.        ,
        72.        ,  62.        ,  76.        ,  62.        ,
        54.        ,  92.        ,  74.        ,  48.        ,
        60.        ,  76.        ,  76.        ,  64.        ,
        74.        ,  80.        ,  76.        ,  30.        ,
        70.        ,  58.        ,  88.        ,  84.        ,
        70.        ,  56.        ,  64.        ,  74.        ,
        68.        ,  60.        ,  70.        ,  60.        ,
        80.        ,  72.        ,  78.        ,  82.        ,
        52.        ,  66.        ,  62.        ,  75.        ,
        80.        ,  64.        ,  78.        ,  70.        ,
        74.        ,  65.        ,  86.        ,  82.        ,
        78.        ,  88.        ,  52.        ,  56.        ,
        74.        ,  72.        ,  90.        ,  74.        ,
        80.        ,  64.        ,  88.        ,  74.        ,
        66.        ,  68.        ,  66.        ,  90.        ,
        82.        ,  70.        ,  60.        ,  64.        ,
        72.        ,  78.        , 110.        ,  78.        ,
        82.        ,  80.        ,  64.        ,  74.        ,
        60.        ,  74.        ,  68.        ,  68.        ,
        98.        ,  76.        ,  80.        ,  62.        ,
        70.        ,  66.        ,  55.        ,  84.        ,
        58.        ,  62.        ,  64.        ,  60.        ,
        80.        ,  82.        ,  68.        ,  70.        ,
        72.        ,  72.        ,  76.        , 104.        ,
        64.        ,  84.        ,  60.        ,  85.        ,
        95.        ,  65.        ,  82.        ,  70.        ,
        62.        ,  68.        ,  74.        ,  66.        ,
        60.        ,  90.        ,  60.        ,  66.        ,
        78.        ,  76.        ,  52.        ,  70.        ,
        80.        ,  86.        ,  80.        ,  80.        ,
        68.        ,  68.        ,  72.        ,  84.        ,
        90.        ,  84.        ,  76.        ,  64.        ,
        70.        ,  54.        ,  50.        ,  76.        ,
        85.        ,  68.        ,  90.        ,  70.        ,
        86.        ,  52.        ,  84.        ,  80.        ,
        68.        ,  62.        ,  64.        ,  56.        ,
        68.        ,  50.        ,  76.        ,  68.        ,
        70.        ,  80.        ,  62.        ,  74.        ,
        64.        ,  52.        ,  86.        ,  62.        ,
        78.        ,  78.        ,  70.        ,  70.        ,
        60.        ,  64.        ,  74.        ,  62.        ,
        70.        ,  76.        ,  88.        ,  86.        ,
        80.        ,  74.        ,  84.        ,  86.        ,
        56.        ,  72.        ,  88.        ,  62.        ,
        78.        ,  48.        ,  50.        ,  62.        ,
        70.        ,  84.        ,  78.        ,  72.        ,
        58.        ,  82.        ,  98.        ,  76.        ,
        76.        ,  68.        ,  68.        ,  68.        ,
        68.        ,  66.        ,  70.        ,  74.        ,
        50.        ,  80.        ,  68.        ,  80.        ,
        74.        ,  66.        ,  78.        ,  60.        ,
        74.        ,  70.        ,  90.        ,  75.        ,
        72.        ,  64.        ,  70.        ,  86.        ,
        70.        ,  72.        ,  58.        ,  80.        ,
        60.        ,  76.        ,  76.        ,  78.        ,
        84.        ,  70.        ,  74.        ,  68.        ,
        86.        ,  72.        ,  88.        ,  46.        ,
        62.        ,  80.        ,  80.        ,  84.        ,
        82.        ,  62.        ,  78.        ,  88.        ,
        50.        ,  74.        ,  76.        ,  64.        ,
        70.        , 108.        ,  78.        ,  74.        ,
        54.        ,  72.        ,  64.        ,  86.        ,
       102.        ,  82.        ,  64.        ,  64.        ,
        58.        ,  52.        ,  82.        ,  82.        ,
        60.        ,  75.        , 100.        ,  72.        ,
        68.        ,  60.        ,  62.        ,  70.        ,
        54.        ,  74.        , 100.        ,  82.        ,
        68.        ,  66.        ,  76.        ,  64.        ,
        72.        ,  78.        ,  58.        ,  56.        ,
        66.        ,  70.        ,  70.        ,  64.        ,
        61.        ,  84.        ,  78.        ,  64.        ,
        48.        ,  72.        ,  62.        ,  74.        ,
        68.        ,  90.        ,  72.        ,  84.        ,
        74.        ,  60.        ,  84.        ,  68.        ,
        82.        ,  68.        ,  64.        ,  88.        ,
        68.        ,  64.        ,  64.        ,  78.        ,
        78.        ,  64.        ,  94.        ,  82.        ,
        74.        ,  74.        ,  75.        ,  68.        ,
        85.        ,  75.        ,  70.        ,  88.        ,
       104.        ,  66.        ,  64.        ,  70.        ,
        62.        ,  78.        ,  72.        ,  80.        ,
        64.        ,  74.        ,  64.        ,  70.        ,
        68.        ,  54.        ,  62.        ,  54.        ,
        68.        ,  84.        ,  74.        ,  72.        ,
        62.        ,  70.        ,  78.        ,  98.        ,
        56.        ,  52.        ,  64.        ,  78.        ,
        82.        ,  70.        ,  66.        ,  90.        ,
        64.        ,  84.        ,  80.        ,  76.        ,
        74.        ,  86.        ,  70.        ,  88.        ,
        58.        ,  82.        ,  68.        ,  62.        ,
        78.        ,  72.        ,  80.        ,  65.        ,
        90.        ,  68.        ,  70.        ,  74.        ,
        68.        ,  72.        ,  70.        ,  74.        ,
        90.        ,  72.        ,  68.        ,  64.        ,
        78.        ,  82.        ,  90.        ,  60.        ,
        50.        ,  78.        ,  72.        ,  62.        ,
        68.        ,  62.        ,  54.        ,  70.        ,
        88.        ,  86.        ,  60.        ,  90.        ,
        70.        ,  80.        ,  70.        ,  58.        ,
        60.        ,  64.        ,  74.        ,  66.        ,
        65.        ,  60.        ,  76.        ,  66.        ,
        56.        ,  90.        ,  60.        ,  80.        ,
        92.        ,  74.        ,  72.        ,  85.        ,
        90.        ,  78.        ,  90.        ,  76.        ,
        68.        ,  82.        , 110.        ,  70.        ,
        68.        ,  88.        ,  62.        ,  64.        ,
        70.        ,  70.        ,  76.        ,  68.        ,
        74.        ,  76.        ,  66.        ,  68.        ,
        60.        ,  80.        ,  54.        ,  72.        ,
        62.        ,  72.        ,  66.        ,  70.        ,
        96.        ,  58.        ,  60.        ,  86.        ,
        44.        ,  44.        ,  80.        ,  68.        ,
        70.        ,  90.        ,  60.        ,  78.        ,
        76.        ,  76.        ,  56.        ,  66.        ,
        66.        ,  86.        ,  84.        ,  78.        ,
        80.        ,  52.        ,  72.        ,  82.        ,
        76.        ,  24.        ,  74.        ,  38.        ,
        88.        ,  74.        ,  78.        ,  60.        ,
        78.        ,  62.        ,  82.        ,  62.        ,
        54.        ,  58.        ,  88.        ,  80.        ,
        74.        ,  72.        ,  96.        ,  62.        ,
        82.        ,  86.        ,  76.        ,  94.        ,
        70.        ,  64.        ,  88.        ,  68.        ,
        78.        ,  80.        ,  65.        ,  64.        ,
        78.        ,  60.        ,  82.        ,  62.        ,
        72.        ,  74.        ,  76.        ,  76.        ,
        74.        ,  86.        ,  70.        ,  80.        ,
        72.        ,  74.        ,  74.        ,  50.        ,
        84.        ,  60.        ,  54.        ,  60.        ,
        74.        ,  54.        ,  70.        ,  52.        ,
        58.        ,  80.        , 106.        ,  82.        ,
        84.        ,  76.        , 106.        ,  80.        ,
        60.        ,  80.        ,  82.        ,  70.        ,
        58.        ,  78.        ,  68.        ,  58.        ,
       106.        , 100.        ,  82.        ,  70.        ,
        86.        ,  60.        ,  52.        ,  58.        ,
        56.        ,  76.        ,  64.        ,  80.        ,
        82.        ,  74.        ,  64.        ,  50.        ,
        74.        ,  82.        ,  80.        , 114.        ,
        70.        ,  68.        ,  60.        ,  90.        ,
        74.        ,  88.        ,  70.        ,  76.        ,
        78.        ,  88.        ,  76.        ,  80.        ,
        46.        ,  78.        ,  64.        ,  64.        ,
        78.        ,  62.        ,  58.        ,  74.        ,
        50.        ,  78.        ,  72.        ,  60.        ,
        76.        ,  86.        ,  66.        ,  68.        ,
        86.        ,  94.        ,  78.        ,  78.        ,
        84.        ,  88.        ,  52.        ,  78.        ,
        86.        ,  88.        ,  56.        ,  75.        ,
        60.        ,  86.        ,  72.        ,  60.        ,
        74.        ,  80.        ,  44.        ,  58.        ,
        94.        ,  88.        ,  84.        ,  94.        ,
        74.        ,  70.        ,  62.        ,  70.        ,
        78.        ,  62.        ,  88.        ,  78.        ,
        88.        ,  90.        ,  72.        ,  76.        ,
        92.        ,  58.        ,  74.        ,  62.        ,
        76.        ,  70.        ,  72.        ,  60.        ,
        70.        ,  72.72578445,  72.72578445,  72.72578445,
        72.72578445,  72.72578445,  72.72578445,  72.72578445,
        72.72578445,  72.72578445,  72.72578445,  72.72578445,
        72.72578445,  72.72578445,  72.72578445,  72.72578445,
        72.72578445,  72.72578445,  72.72578445,  72.72578445,
        72.72578445,  72.72578445,  72.72578445,  72.72578445,
        72.72578445,  72.72578445,  72.72578445,  72.72578445,
        72.72578445,  72.72578445,  72.72578445,  72.72578445,
        72.72578445,  72.72578445,  72.72578445,  72.72578445])