In [1]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_excel("Book1.xlsx")

In [22]:
years=list(map(str,np.arange(1980,2014,1)))

In [37]:
year=np.arange(1980,2014,1)

In [38]:
year

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013])

In [26]:
df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407
195,Immigrants,Foreigners,Unknown,999,World,999,World,999,World,44000,...,3739,4785,4583,4348,4197,3402,3731,2554,1681,1484

In [46]:
df['sum']=df.loc[:,year].sum(axis=1)

In [67]:
pd.set_option('display.max_columns',85)

In [68]:
continent_df=df.groupby(by='AreaName')[year].sum()

In [86]:
continent_df['sum']=continent_df.loc[:,year].sum(axis=1)

In [88]:
col=continent_df.sum(axis=0)

In [99]:
pd.concat(continent_df,)

1980     143137
1981     128641
1982     121175
1983      89185
1984      88272
1985      84346
1986      99351
1987     152075
1988     161585
1989     191550
1990     216451
1991     232802
1992     254787
1993     256638
1994     224382
1995     212864
1996     226071
1997     216036
1998     174195
1999     189950
2000     227455
2001     250636
2002     229049
2003     221349
2004     235822
2005     262242
2006     251640
2007     236753
2008     247244
2009     252170
2010     280687
2011     248748
2012     257903
2013     259021
sum     6924212
dtype: int64